
.loader{
    display: none;
	position: fixed;
    background: rgba(255,255,255,0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loader .cust_loader{
	position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

footer{    
    margin: 0px;
    bottom: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
}

.removeMenuPadding{
    padding-left: 0px !important;
}

.thumb{
    max-width: 50%;
}
.dynamic_form{
    
}
.fixed-brand{
    position: fixed;
    margin-left: -1px;
    background: black;
}
.navbar-default {
    background-color: #ffffff;
    border-color: rgba(231, 231, 231, 0);
}
#menu-toggle-2{
    display: none;
}
hr{
    border-color: grey;
}