<div class="row">
    <div class="col-md-12">
    	<h2>{{message}}</h2>
        <div class="table-responsive">
        	<table datatable="ng" class="table table-bordered table-responsive hover">
			<thead>
				<tr>
					<th>Party Name</th>
					<th>Order Total</th>
					<th>Received PO's total</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="singleCompany in companyData">
					<td>{{ singleCompany.party_name }}</td>
					<td>{{ singleCompany.order_total }}</td>
					<td>{{ singleCompany.po_total }}</td>
					<td>{{ singleCompany.company_status }}</td>
				</tr>
			</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive">
        	<table datatable="ng" class="table table-bordered table-responsive hover">
			<caption>Sites</caption>
			<thead>
				<tr>
					<th>Location Name</th>
					<th>Site Code</th>
					<th>Size</th>
					<th>Cart Rate</th>
					<th>Min Cart Rate</th>
					<th>Landmark</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="singleSite in siteData">
					<td>{{ singleSite.location_name }}</td>
					<td>{{ singleSite.site_code }}</td>
					<td>{{ singleSite.size }}</td>
					<td>{{ singleSite.cart_rate }}</td>
					<td>{{ singleSite.min_cart_rate }}</td>
					<td>{{ singleSite.landmark }}</td>
				</tr>
			</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive">
        	<table datatable="ng" class="table table-bordered table-responsive hover">
			<caption>Orders</caption>
			<thead>
				<tr>
					<th>Order Id</th>
					<th>Party Name</th>
					<th>Sales Person Name</th>
					<th>Site Location</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="singleOrder in ordersData">
					<td>{{ singleOrder.orderid }}</td>
					<td>{{ singleOrder.customer_name }}</td>
					<td>{{ singleOrder.spfullname }}</td>
					<td>{{ singleOrder.location_name }}</td>
				</tr>
			</tbody>
			</table>
		</div>
    </div>
</div>