
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#createOrder">Add New</a></li>
  <li><a data-toggle="tab" href="#editCP">Edit Existing</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
<!-- tab1 -->
  <div id="createOrder" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="createContactPerson()">
      <fieldset>
        <!-- Form Name -->
        <legend>Add New Contact Person Entry</legend>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="customername">Select Company</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='companies' config="companyConfig" ng-model="selectedCompany" required=""></selectize>      
          </div>
        </div> 

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Full Name</label>  
          <div class="col-md-6">
          <input id="cp_full_name" name="textinput" type="text" placeholder="Enter Full Name of Contact Person" class="form-control input-md" ng-model="cp_full_name" required="">            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cp_email_id">Email</label>  
          <div class="col-md-6">
          <input id="cp_email_id" name="cp_email_id" type="email" placeholder="Enter Email id" class="form-control input-md" ng-model="cp_email_id" required="">          
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cp_contact_number">Contact Number</label>  
          <div class="col-md-6">
          <input id="cp_contatc_number" name="cp_contact_number" type="text" placeholder="Enter 10 digit Mobile/Landline Number" class="form-control input-md" ng-model="cp_contact_number" pattern="[0-9]{10,10}" required="">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="savebutton"></label>
          <div class="col-md-4">
          <input id="savebutton" type="submit" name="savebutton" class="btn btn-primary" value="Create Customer">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div id="editCP" class="tab-pane fade">
  <br/>
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
        <selectize placeholder='Pick some things...' options='companies' config="companyConfigEditTab" ng-model="selectedCompanyForCP" required=""></selectize>
      </div>
      <br><br>
      <div class="col-md-12" ng-show="isCompanySelected">
        <table class="table table-bordered table-responsive hover">
          <caption>Contact person List for selected company</caption>
          <thead>
            <tr>              
              <th>Full Name</th>
              <th>Email Id</th>
              <th>Phone Number</th> 
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cp in contactPersons">
              <td>{{ cp.name }}</td>
              <td>{{ cp.email }}</td>
              <td>{{ cp.contact_number }}</td>
              <td><a ng-click="editExisting(cp)" style="color: red; cursor: pointer;"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="modal fade" id="editCpModal" role="dialog">
          <div class="modal-dialog">      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit details</h4>
              <div class="modal-body">              
                <form name="update_cp" class="form-horizontal" ng-submit="editContactPerson()">
                  <fieldset>
                    <!-- Form Name -->
                    <legend>Edit Contact Person</legend>
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="edit_cp_name">Name</label>  
                      <div class="col-md-4">
                      <input id="edit_cp_name" name="edit_cp_name" type="text" placeholder="Name of Party" class="form-control input-md" ng-model="edit_cp_name" required="">
                      </div>
                    </div>
                    <input type="hidden" ng-model="edit_cp_id" value="" name="edit_cp_id">
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="edit_cp_email">Email</label>  
                      <div class="col-md-4">
                        <input id="edit_cp_email" name="edit_cp_email" type="email" placeholder="email of the user" class="form-control input-md" ng-model="edit_cp_email" required="">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="edit_cp_contact_number">Contact Number</label>  
                      <div class="col-md-4">
                        <input id="edit_cp_contact_number" name="edit_cp_contact_number" type="text" placeholder="Office Contact" class="form-control input-md" pattern="[0-9]{10,10}" ng-model="edit_cp_contact_number" required="">
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for=""></label>
                      <div class="col-md-4">
                        <input type="submit" ng-disabled="update_cp.$pristine|| update_cp.$invalid" class="btn btn-primary" value="Save">
                      </div>
                    </div>

                  </fieldset>
                </form>
              </div>
            </div> 
          </div>
        </div> 
      </div>  
    </div>
  </div>
</div>



