
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#order">Place New Order</a></li>
  <li><a data-toggle="tab" href="#viewOrder">View Order</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
<!-- tab1 -->
  <div id="order" class="tab-pane fade in active">
    <!-- <form class="form-horizontal" ng-submit="placeOrder()"> -->
    <form class="form-horizontal" ng-submit="placeOrder()">
      <fieldset>
        <!-- Form Name -->
        <legend>Create Order</legend>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="customername">Select Customer</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='customers' config="customerConfig" ng-model="selectedCustomer" required=""></selectize>      
          </div>
        </div>
        <hr/>
        <!-- Part which will be repeated START-->
        <!-- TEST START-->                        
        <!-- <pre>{{ cp_order | json }}</pre> -->
        <!-- TEST END -->
        <div class="form-group" ng-if="isCompanySelected" ng-repeat="field in cp_order.fields track by $index" class="dynamic_form">
        <!-- 1st Row -->
          <div class="form-group">
            <div class="col-md-3">
             <selectize placeholder='Select Contact Person' options='contactPersons' config="contactPersonsConfig" ng-model="field.cp_id" required=""></selectize>      
            </div>
            <div class="col-md-3">
              <selectize placeholder='Select Site...' options='sites' config="siteConfig" ng-model="field.site_id" required="" ng-change="setCartRateValue($index)"></selectize>               
            </div>
            <div class="col-md-3">
              <input date-range-picker class="form-control date-picker" title="Booking date range" placeholder="Booking date range" type="text" ng-bind="datePicker.dateRange" ng-model="field.from_to_date" options="{eventHandlers: {'apply.daterangepicker':setValueToSE($index)}}" />
              <input type="hidden" ng-model="field.startDate" name="">
              <input type="hidden" ng-model="field.endDate" name="">
              <input type="hidden" ng-model="field.totalDays" name="">
            </div>
            <div class="col-md-3">
            <input type="text" title="Cart Rate" class="form-control input-md" name="cart_rate" value="" placeholder="Cart Rate" ng-model="field.cart_rate" ng-change="setFinalAmount($index)">
            </div>            
          </div>
          <!-- 2nd row -->
          <div class="form-group">            
            <div class="col-md-3">
            <input type="text" name="inst_charges" value="" ng-model="field.inst_charges" placeholder="Installation Charges" class="form-control input-md" title="Installation Charges" ng-change="setFinalAmount($index)">          
            </div>
            <div class="col-md-3">
            <input id="amount" name="amount" type="text" placeholder="Auto Calulated Final Amount" class="form-control input-md" ng-model="field.final_amount" pattern="[0-9]+(\\.[0-9][0-9]?)?" ng-value="(field.inst_charges+field.cart_rate)" placeholder="Auto Calculated Final Amount" required="" readonly="" />
            </div> 
            <div class="col-md-3">
            <input date-range-picker class="form-control date-picker" name="order_date" type="text" ng-bind="datePicker.od" ng-model="field.od" options="{autoUpdateInput: false, singleDatePicker: true, locale: {format: 'YYYY-MM-DD'}, eventHandlers: {'apply.daterangepicker':setValueToOD($index)}}" placeholder="Order received date" title="Order received date" required="" />
            <input type="hidden" name="order_date" ng-model="order_date">
            </div>
            <div class="col-md-3">
            <select id="order_status" name="order_status" class="form-control" ng-model="field.order_status" title="Status of Order">
              <option ng-repeat="x in od_status" value="{{x.value}}">{{x.name}}</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-offset-4">
              <button type="button" ng-click="removeChoice($index)" class="btn btn-danger">Remove</button>
            </div>
          </div>
          <hr/>
        </div>
        <div class="form-group text-center" ng-if="isCompanySelected">
          <button type="button" class="btn btn-info btn-sm" ng-click="addFormField()">Add one more order for Site</button>
        </div>
        <div class="clearfix"></div>
        <div class="form-group text-center" ng-if="isCompanySelected">
          <label class="col-md-4 control-label" for="savebutton"></label>
          <div class="col-md-4">
          <input id="savebutton" type="submit" name="savebutton" class="btn btn-primary" value="Place Order">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="viewOrder" class="tab-pane fade" ng-controller="viewOrderCtrl as showCase">
    <div class="table-responsive">
      <table datatable="ng" class="table table-bordered table-responsive hover">
      <caption>Orders</caption>
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Party Name</th>
          <th>Sales Person Name</th>
          <th>Site Location</th>
          <th>Order Amount</th>
          <th>PO Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="singleOrder in ::showCase.allOrders">
          <td>{{ singleOrder.orderid }}</td>
          <td>{{ singleOrder.customer_name }}</td>
          <td>{{ singleOrder.spfullname }}</td>
          <td>{{ singleOrder.location_name }}</td>
          <td>{{ singleOrder.order_amount }}</td>          
          <td>{{ singleOrder.po_amount }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>



