<div class="row">
  <!-- Add site form -->
  <div class="col-md-4 col-xs-12" >
    <form class="form-horizontal" ng-submit="addSites()">
      <fieldset>

        <!-- Form Name -->
        <legend>Add Site</legend>

        <!-- Text input-->
        <div class="form-group">          
          <div class="col-md-8 col-offset-2">
            <input id="site_name" name="site_name" type="text" placeholder="Site Name" class="form-control input-md" required="" title="Site Name" ng-model="location_name">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-8 col-offset-2">
            <input id="site_code" name="site_code" type="text" placeholder="Site Code" class="form-control input-md" required="" title="Site Code" ng-model="site_code">
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">          
          <div class="col-md-8 col-offset-2">                     
            <textarea class="form-control" id="landmark" name="landmark" title="Landmark" ng-model="landmark">Address/Landmark</textarea>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-8 col-offset-2">
            <input id="size" name="size" type="text" placeholder="Size" class="form-control input-md" required="" title="Size" ng-model="size">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-8 col-offset-2">
            <input id="cart_rate" name="cart_rate" type="text" placeholder="Cart Rate" class="form-control input-md" title="Cart Rate" ng-model="cart_rate">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-8 col-offset-2">
            <input id="min_cart_rate" name="min_cart_rate" type="text" placeholder="Minimum Cart Rate" class="form-control input-md" required="" title="Minimum Cart Rate" ng-model="min_cart_rate">

          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <div class="col-md-8 col-offset-2">
            <input  ng-show="!editActive" id="add_site" type="submit" name="add_site" class="btn btn-primary" value="Add">
            <input ng-show="editActive" id="save_site" type="submit" name="save_site" class="btn btn-primary" value="Save">
            <input type="button" name="cancel_site" ng-show="editActive" ng-click="cancelClicked()" id="cancel_site" name="cancel_site" class="btn btn-info" value="Cancel" />
          </div>
        </div>

      </fieldset>
    </form>    
  </div>
  <!-- Existed site listing -->
  <div class="col-md-8 col-xs-12">
    <table class="table table-bordered table-responsive hover">
      <caption>Sites</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Site Code</th>
          <th>Size</th>
          <th>Address/LandMark</th>
          <th>Cart Rate</th>
          <th>Minimum Cart Rate</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="site in sites">
          <td>{{ site.location_name }}</td>
          <td>{{ site.site_code }}</td>
          <td>{{ site.size }}</td>
          <td>{{ site.landmark }}</td>
          <td>{{ site.cart_rate }}</td>
          <td>{{ site.min_cart_rate }}</td>
          <td><a ng-click="editExisting(site)" style="color: red; cursor: pointer;"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
      </table>
  </div>
</div>