
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#createPO">Add PO</a></li>
  <li ><a data-toggle="tab" href="#viewPO">View received PO</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
<!-- tab1 -->
  <div id="createPO" class="tab-pane fade in active">    
    <!-- datatables with all possible column -->
    <div ng-controller="RowSelectCtrl as showCase">
      <!-- <pre>{{ showCase.selected |json }}</pre>
      <p></p> -->
      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-bordered table-responsive hover"></table>
      <button type="button" class="btn btn-info btn-md" data-toggle="modal" ng-show="activePO" ng-click="setDataToParent()">Upload PO for Selected Order(s)</button>
    </div>    
    <!-- Modal -->
    <div class="modal fade" id="poUploadModal" role="dialog">
      <div class="modal-dialog">      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload PO</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" ng-submit="addPO()" name="po_form">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">PO Number</label>  
                  <div class="col-md-4">
                  <input id="textinput" name="textinput" type="text" placeholder="Enter PO Number" class="form-control input-md" ng-model="po_number">          
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">PO Amount</label> 
                  <div class="col-md-4">
                    <input id="amount" name="amount" type="text" placeholder="Amount in PO" class="form-control input-md" ng-model="po_amount" pattern="[0-9]+(\\.[0-9][0-9]?)?" required="" />
                    </div> 
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="filebutton">Attach PO Copy</label>
                  <div class="col-md-4">
                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    Select File</button>
                    <br><br>
                    File:
                    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                    </span>
                    </div>     
                    {{errorMsg}}
                    <input type="hidden" id="uploaded_file_path" name="uploaded_file_path">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="savebutton"></label>
                  <div class="col-md-4">
                  <input id="savebutton" type="submit" name="savebutton" class="btn btn-primary" value="Done">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>        
      </div>
    </div>    
  </div>
  <div id="viewPO" class="tab-pane fade">
    <div ng-controller="WithPromiseCtrl as showCase">    
      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-bordered table-responsive hover"></table>
      <!-- Modal -->
      <div id="orderDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Order(s)</h4>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Contact Person</th>
                    <th>Location</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Final Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="ord in showCase.current_orders">
                    <td>{{ord.cp_name}}</td>
                    <td>{{ord.location_name}}</td>
                    <td>{{ord.from_date}}</td>
                    <td>{{ord.to_date}}</td>
                    <td>{{ord.order_amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div><!-- Modal close -->
    </div>
  </div>
</div>