<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#addCustomer">Add new Customer</a></li>
  <li><a data-toggle="tab" href="#editCustomer" ng-click="editTabClick()">Edit Existing</a></li>
</ul>


<div class="tab-content">
  <!-- register company tab -->
  <div id="addCustomer" class="tab-pane fade in active">
    <form name="register_company" class="form-horizontal" ng-submit="registerCustomer()">
      <fieldset>
        <!-- Form Name -->
        <legend>Company Registration</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="partyname">Name</label>  
          <div class="col-md-4">
          <input id="partyname" name="partyname" type="text" placeholder="Name of Party" class="form-control input-md" ng-model="partyname" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="useremail">Email</label>  
          <div class="col-md-4">
            <input id="useremail" name="useremail" type="email" placeholder="email of the user" class="form-control input-md" ng-model="useremail" required="">
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="address" name="address" ng-model="address" required="">Address</textarea>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="pannumber">PAN Number</label>  
          <div class="col-md-4">
            <input id="pannumber" name="pannumber" type="text" placeholder="PAN of User" class="form-control input-md" ng-model="pannumber" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="ofcnumber">Office Number</label>  
          <div class="col-md-4">
            <input id="ofcnumber" name="ofcnumber" type="text" placeholder="Office Contact" class="form-control input-md" pattern="[0-9]{10,10}" ng-model="ofcnumber" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="othernumber">Alternate Contact</label>  
          <div class="col-md-4">
            <input id="othernumber" name="othernumber" type="text" placeholder="Alternate Contact Number" class="form-control input-md" pattern="[0-9]{10,10}" ng-model="othernumber" >
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for=""></label>
          <div class="col-md-4">
            <input type="submit" ng-disabled="register_company.$pristine|| register_company.$invalid" class="btn btn-primary" name="" value="Register">
          </div>
        </div>

      </fieldset>
    </form>
  </div>  
  <!-- edit company tab -->
  <div id="editCustomer" class="tab-pane fade">
    <div class="col-md-12">
      <div class="table-responsive">
            <table class="table table-bordered table-responsive hover">
        <caption>Customers</caption>
        <thead>
          <tr>
            <th>Party Name</th>
            <th>Email Id</th>
            <th>Office Contact</th>
            <th>Address</th>
            <th>Other Contact</th>
            <th>PAN</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="singleCompany in companyData">
            <td>{{ singleCompany.party_name }}</td>
            <td>{{ singleCompany.email_id }}</td>
            <td>{{ singleCompany.office_number }}</td>
            <td>{{ singleCompany.address }}</td>
            <td>{{ singleCompany.other_number }}</td>
            <td>{{ singleCompany.PAN_number }}</td>
            <td><a ng-click="editExisting(singleCompany)" style="color: red; cursor: pointer;"><i class="fa fa-pencil-square-o"></i></a></td>
          </tr>
        </tbody>
        </table>
        <div class="modal fade" id="editCompanyModal" role="dialog">
          <div class="modal-dialog">      
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit details</h4>
                <div class="modal-body">              
                    <edit-company></edit-company>              
                </div>
              </div> 
           </div>
          </div>   
        </div><!-- modal close -->
      </div>
    </div>
  </div>
</div>


