<form name="update_company" class="form-horizontal" ng-submit="editCustomer()">
  <fieldset>
    <!-- Form Name -->
    <legend>Company Registration</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="partyname">Name</label>  
      <div class="col-md-4">
      <input id="partyname" name="partyname" type="text" placeholder="Name of Party" class="form-control input-md" ng-model="edit_partyname" required="">
      </div>
    </div>
    <input type="hidden" ng-model="edit_id" value="" name="edit_id">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="useremail">Email</label>  
      <div class="col-md-4">
        <input id="useremail" name="useremail" type="email" placeholder="email of the user" class="form-control input-md" ng-model="edit_useremail" required="">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="address">Address</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="address" name="address" ng-model="edit_address" required="">Address</textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="pannumber">PAN Number</label>  
      <div class="col-md-4">
        <input id="pannumber" name="pannumber" type="text" placeholder="PAN of User" class="form-control input-md" ng-model="edit_pannumber" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="ofcnumber">Office Number</label>  
      <div class="col-md-4">
        <input id="ofcnumber" name="ofcnumber" type="text" placeholder="Office Contact" class="form-control input-md" pattern="[0-9]{10,10}" ng-model="edit_ofcnumber" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="othernumber">Alternate Contact</label>  
      <div class="col-md-4">
        <input id="othernumber" name="othernumber" type="text" placeholder="Alternate Contact Number" class="form-control input-md" ng-model="edit_othernumber" >
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-4">
        <input type="submit" ng-disabled="update_company.$pristine|| update_company.$invalid" class="btn btn-primary" value="Save">
      </div>
    </div>

  </fieldset>
</form>