<form name="update_form" class="form-horizontal" ng-submit="editUser()">
<fieldset>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="firstname">First Name</label>  
    <div class="col-md-4">
      <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control input-md" ng-model="edit_firstname" required="">
    </div>
  </div>
  <input type="hidden" ng-model="user_id" value="" name="user_id">
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="lastname">Last Name</label>  
    <div class="col-md-4">
      <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md" ng-model="edit_lastname" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email Id</label>  
    <div class="col-md-4">
      <input id="email" name="email" type="email" placeholder="Email of the Admin" class="form-control input-md" ng-model="edit_email" required="" disabled="disabled">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="edit_user_password">Password</label>
    <div class="col-md-4" ng-if="change_password">
      <input id="edit_user_password" name="edit_user_password" value="" type="password" placeholder="New Password" class="form-control input-md" ng-model="edit_user_password" pattern=".{6,}" title="Six or more characters" required=""> 
    </div>
    <div class="col-md-4" ng-if="!change_password">
      <input type="password" value="***********" class="form-control input-md" disabled="disabled"> 
    </div>
    <div class="col-md-2">
      <!-- <button name="changePassword" class="btn btn-warn" ng-click="passwordToggle()">{{password_btn_text}}</button> -->
      <input type="button" name="changePassword" class="btn btn-warn" ng-click="passwordToggle()" ng-value="password_btn_text"/>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="contact">Phone Number</label>  
    <div class="col-md-4">
      <input id="contact" name="contact" type="tel" pattern="[0-9]{10,10}" placeholder="Contact Number" class="form-control input-md" ng-model="edit_contact" title="10 digit mobile number" required="">
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="address">Address</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="address" name="address" ng-model="edit_address"></textarea>
    </div>
  </div>
  
  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="status">Status</label>
    <div class="col-md-4">
      <select id="edit_status" ng-model="edit_status" name="status" class="form-control">
        <option ng-repeat="option in status_val" value="{{option.status}}">{{option.name}}</option>
      </select>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-4">
      <input ng-disabled="update_form.$pristine|| update_form.$invalid" type="submit" name="Save" value="Save" class="btn btn-info">
    </div>
  </div>
</fieldset>
</form>