<div class="row" ng-show = "viewReady">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                <form id="login_form">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail" name="email" type="text" id="email" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" id="pass" type="password" value="">
                    </div>
                    <label class="radio-inline"><input type="radio" name="loginas" value="master_admin">Master Admin</label>
                    <label class="radio-inline"><input type="radio" name="loginas" value="administrator">Administrator</label>
                    <label class="radio-inline"><input type="radio" name="loginas" value="sales_person" checked="true">Sales Person</label>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6 col-md-offset-3">
                            <input class="btn btn-lg btn-success btn-block" type="button" ng-click="loginMe()" value="Login">
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>