<div id="sidebar-wrapper" ng-controller="navController" ng-show="loggedIn">
    <!-- Master Admin nav menu START-->
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu" ng-show="loggedIn">
        <li ng-if="userRole == 'master_admin'">
            <a ui-sref="master_admin"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
        </li>
        <li ng-if="userRole == 'administrator'">
            <a ui-sref="administrator"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
        </li>
        <li ng-if="userRole == 'sales_person'">
            <a ui-sref="sales_person"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
        </li>
        <li ng-if="userRole == 'master_admin' || userRole == 'administrator'">
            <a ui-sref="administrator_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Administrator</a>
        </li>
        <li ng-if="userRole == 'master_admin' || userRole == 'administrator'">
            <a ui-sref="sales_person_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Sales Person</a>
        </li>
        <li>
            <a ui-sref="site_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Site</a>
        </li>
        <li>
            <a ui-sref="customer_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Company</a>
        </li>
        <li>
            <a ui-sref="contact_person_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Contact Person</a>
        </li>
        <li ng-if="userRole == 'master_admin' || userRole == 'administrator'">
            <a ui-sref="tax_add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span> Add/Update Tax info</a>
        </li>
        <li ng-if="userRole == 'sales_person'">
            <a ui-sref="order"><span class="fa-stack fa-lg pull-left"><i class="fa fa-first-order fa-stack-1x "></i></span> Order</a>
        </li>
        <li ng-if="userRole == 'master_admin' || userRole == 'administrator'">
            <a ui-sref="po"><span class="fa-stack fa-lg pull-left"><i class="fa fa-first-order fa-stack-1x "></i></span> Add/Update PO</a>
        </li>
        <li>
            <a href="" ng-click="logout()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x "></i></span> Logout</a>
        </li>
        

    </ul>
    <!-- Master Admin nav menu END-->

    <!-- Administrator nav menu START-->
   <!--  <ul ng-if="userRole === 'administrator'" class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="sidebar-brand">
            <a href="#">
                Roshanspace administrator
            </a>
        </li>
    </ul> -->
    <!-- Administrator nav menu END-->

    <!-- Sales Person nav menu START-->
    <!-- <ul ng-if="userRole === 'sales_person'" class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="sidebar-brand">
            <a href="#">
                Roshanspace Sales Person
            </a> 
        </li>
    </ul> -->
    <!-- Sales Person nav menu END-->
</div>
