<fieldset>
  <!-- Form Name -->
  <legend>{{form_header}}</legend>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="firstname">First Name</label>  
    <div class="col-md-4">
      <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control input-md" ng-model="firstname" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="lastname">Last Name</label>  
    <div class="col-md-4">
      <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md" ng-model="lastname" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email Id</label>  
    <div class="col-md-4">
      <input id="email" name="email" type="email" placeholder="Email of the Admin" class="form-control input-md" ng-model="email" required="">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="user_password">Password</label>
    <div class="col-md-4">
      <input id="user_password" name="user_password" type="password" placeholder="Password for Admin" class="form-control input-md" ng-model="user_password" pattern=".{6,}" title="Six or more characters" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="contact">Phone Number</label>  
    <div class="col-md-4">
      <input id="contact" name="contact" type="tel" pattern="[0-9]{10,10}" placeholder="Contact Number" class="form-control input-md" ng-model="contact" title="10 digit mobile number" required="">
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="address">Address</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="address" name="address" ng-model="address"></textarea>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="status">Status</label>
    <div class="col-md-4">
      <select id="status" name="status" class="form-control">
        <option value="1">Active</option>
        <option value="0">InActive</option>
      </select>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="register"></label>
    <div class="col-md-4">
      <input type="submit" name="Register" value="Register" class="btn btn-info">
    </div>
  </div>
</fieldset>