<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#addSalesPerson">Add new Sales Person</a></li>
  <li><a data-toggle="tab" href="#editSalesPerson" ng-click="editTabClick()">Edit Existing</a></li>
</ul>

<div class="tab-content">
  <div id="addSalesPerson" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="registerSalesPerson()">
      <registration-form></registration-form>
    </form>
  </div>
  <div id="editSalesPerson" class="tab-pane fade">
    <!-- Existed site listing -->
    <table class="table table-bordered table-responsive hover">
      <caption>SalesPerson List</caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Id</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sp in sp_list">
          <td>{{ sp.first_name }}</td>
          <td>{{ sp.last_name }}</td>
          <td>{{ sp.email_id }}</td>
          <td>{{ sp.contact_number }}</td>
          <td>{{ sp.address }}</td>
          <td>{{ sp.status | statusText}}</td>
          <td><a ng-click="editExisting(sp)" style="color: red; cursor: pointer;"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
      </table>
      <div class="modal fade" id="editSpModal" role="dialog">
        <div class="modal-dialog">      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit details</h4>
            <div class="modal-body">              
                <edit-registration></edit-registration>              
            </div>
          </div> 
       </div>
      </div>   
  </div>
  </div>
</div>