<div class="row">
  <!-- Add tax form -->
  <div class="col-md-5 col-xs-12" >
    <form class="form-horizontal" ng-submit="addTax()">
      <fieldset>

      <!-- Form Name -->
      <legend>Add Tax</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="tax_type">Name</label>  
        <div class="col-md-8">
        <input id="tax_type" name="tax_type" type="text" placeholder="Enter tax type " class="form-control input-md" required="" ng-model="tax_type">
          
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Description</label>
        <div class="col-md-8">                     
          <textarea class="form-control" id="description" name="description" ng-model="description">Full description of tax</textarea>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="tax_status">Status</label>
        <div class="col-md-8">
          <select id="tax_status" name="tax_status" class="form-control">
            <option value="enabled">Enable</option>
            <option value="disabled" selected="selected">Disable</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="amount_in_percent">Percent</label>  
        <div class="col-md-8">
        <input id="amount_in_percent" name="amount_in_percent" type="text" placeholder="Enter percent of tax" class="form-control input-md" required="" ng-model="amount_in_percent">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-8">
          <input  ng-show="!editActive" id="addbutton" type="submit" name="addbutton" class="btn btn-primary" value="Add">
          <input ng-show="editActive" id="save_tax" type="submit" name="save_tax" class="btn btn-primary" value="Save">
          <input type="button" name="cancel_tax" ng-show="editActive" ng-click="cancelClicked()" id="cancel_tax" name="cancel_tax" class="btn btn-info" value="Cancel" />
        </div>
      </div>

      </fieldset>
      </form>
  </div>
  <div class="col-md-4 col-md-offset-1 col-xs-12" >
  <!-- already listed tax -->
  <table class="table table-bordered table-responsive hover">
      <caption>Tax lists</caption>
      <thead>
        <tr>
          <th>Tax type</th>
          <th>Description</th>
          <th>Value</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tax in tax_list">
          <td>{{ tax.tax_type }}</td>
          <td>{{ tax.description }}</td>
          <td>{{ tax.amount_in_percent }}</td>
          <td>{{ tax.status }}</td>
          <td><a ng-click="editExisting(tax)" style="color: red; cursor: pointer;"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
      </table>
  </div>
</div>